:root {
  --main-hue-rotate: 0deg;
  --announce-hue-rotate: 0deg;
  --notify-hue-rotate: 0deg;

	--main-color: #6493d3;
	--main-glow: #6493d3;

  --glow: #72a1e4;
}

body {
  background-size: cover;
  background-image: url(https://media.discordapp.net/attachments/725329625919782962/1214640485168189501/jastlaif-leak.png?ex=65f9d91a&is=65e7641a&hm=f7d5611cba7815d580c358abb602e464614440e72219b003bb404508b3df57a9&=&format=webp&quality=lossless&width=1046&height=588);
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

.announce {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -150px;
  opacity: 0;
  transition: all 0.5s;
}

.announce-visible {
  top: 0px;
  opacity: 1;
}

.announce .wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.announce .wrapper .container {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  z-index: 10;
  filter: hue-rotate(var(--announce-hue-rotate));
}

.announce .glow {
  position: absolute;
  width: 26.6666666666vw;
  height: 26.6666666666vw;
  top: -17.5vw;
  border-radius: 100%;
  opacity: 75%;
  filter: blur(9.375vw);
  background: var(--glow);
  z-index: -2;
}

.announce .wrapper .container .title {
  text-transform: uppercase;
  margin-top: 45px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.announce .wrapper .container .divider {
  background: var(--main-color);
  width: 200px;
  height: 5px;
  margin-top: 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px var(--main-glow);
}

.announce .wrapper .container .desc {
  position: absolute;
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  margin-left: -178px;
  text-align: center;
  color: white;
  opacity: 0.75;
  width: 560px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}



.notify .wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notify .container {
  position: absolute;
  bottom: 230px;
  left: 30px;
  width: 300px;
  filter: hue-rotate(var(--notify-hue-rotate));
}

.notification-visible {
  opacity: 1 !important;
  margin-left: 0px !important;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-left: -100px;
  width: 285px;
  height: 70%;
  opacity: 0;
  transition: all 0.5s;
}

.notification .divider {
  border-radius: 1.5px;
  position: absolute;
  height: 100%;
  width: 5px;
  background: white;
  opacity: 1;
}

.notification .title {
  color: white;
  margin-left: 12px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.notification .desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: none;
  font-style: normal;
  color: white;
  opacity: 0.75;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}